extends  ../admin_layout

block scripts
    script(src="/javascripts/bill_taxi_today.js")
block content
    br
    .panel#Block_Show_rent_today
        .panel-heading(style="background-color:#90B8BC")
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายการจ่ายค่าเช่ารถ Taxi วันนี้
        .panel-body
            button.btn.btn-sm.pull-right(style="background-color:#70BAC2")
                a(href="/bill/search_bill_taxi")
                    i.fa.fa-search.fa-lg
                    | &nbsp; ค้นหาข้อมูลการจ่าย
            buton.btn.btn-inverse.btn-sm.pull-right#btnShowModal
                i.fa.fa-plus
                | &nbsp; เพิ่มข้อมูลการจ่ายค่าเช่า
            table.table.table-hover#tblBill_today
                thead
                    tr
                        td ลำดับ
                        td วันที่
                        td ชื่อผู้เช่ารถ
                        td จ่าย
                        td หมายเหตุ
                        td(style="width : 90px")
                            i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                    tbody
            ul.pagination#paging
    .modal.fade#mdlNew(tabindex="-1",role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title
                        i.fa.fa-search.fa-lg
                        | &nbsp;เพิ่มข้อมูลการจ่ายค่าเช่า
                .modal-body(style="padding-top: 20px;")
                    input(type="hidden")#txtId
                    .row
                        .col-md-6
                            .form-group.has-feedback
                                label(for="txtDate_bill") วันที่ออกใบเสร็จ:
                                | &nbsp;&nbsp;
                                #datetimepicker.input-group(data-datepicker)
                                    input#txtDate_bill.form-control(type='text')
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-calendar       
                    | &nbsp;
                    | &nbsp;
                    .row
                        .col-md-6
                            .form-group
                                label(for="slPerson") ชื่อผู้เช่ารถ:
                                | &nbsp;
                                select#slPerson.form-control.css-require
                                    option(value="") กรุณาเลือกรายการ....
                                    for a in data.person_taxis
                                        option(value="#{a.id}") #{a.person}        
                    | &nbsp;
                    | &nbsp;                             
                    .row                       
                        .col-md-6
                            .form-group
                                label(for="txtPay") จำนวนเงินที่จ่าย 
                                input(type="number",name="pay",placeholder="ค่าบริการพิเศษ")#txtPay.form-control                                                      
                    | &nbsp;   
                    | &nbsp;
                    .row
                        .col-md-12
                            .form-group
                                label(for="txtNote") หมายเหตุ
                                textarea#txtNote(type="text", rows="3", placeholder="ยังไม่มีรายละเอียด").form-control 
                .modal-footer
                    button.btn.btn-primary#btnSave
                        i.fa.fa-save
                        | &nbsp; ปรับปรุงข้อมูล
                    button.btn.btn-danger(data-dismiss="modal")
                        i.fa.fa-close
                        | &nbsp; ปิดหน้าต่าง
