extends  ../admin_layout
block scripts
    script(src="/javascripts/report_summary.js")
block content
    br
    .alert.alert-warning(role="alert",style="display: none;")#divAlert
        i.fa.fa-warning
        | &nbsp; กรองข้อมูลไม่ครบถ้วน
    .well.well-sm
        div.form-inline
            .row
                .col-md-12
                    .form-group
                        label วันที่
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker1.input-group(data-datepicker)
                            input#Date_Search_summary1.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        label ถึง
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        #datetimepicker2.input-group(data-datepicker)
                            input#Date_Search_summary2.form-control(type='text')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        button#btnSearch(type="button").btn.btn-danger.btn-sm ค้นหา
                        button#btnPrint(type="button").btn.btn-danger.btn-sm ปริ้น
    .panel.panel-danger
        .panel-heading
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; สรุปจำนวนการขอรายงานแยกแผนก
        .panel-body
            table.table.striped#tblReport_summary
                thead
                    tr
                        td ลำดับ
                        td แผนก
                        td มค.
                        td กพ.
                        td มีค.
                        td เมษ.
                        td พค.
                        td มิย.
                        td กค.
                        td สค.
                        td กย.
                        td ตค.
                        td พย.
                        td ธค.
                    tbody
            ul.pagination#paging
