extends  ../admin_layout

block scripts
    script(src="/javascripts/search_bill_taxi.js")

block content
    br
    //.well.well-sm.alert.alert-warning(role='alert')
    .panel.panel-danger#Block_Search
        .panel-heading
            h3.panel-title
                i.fa.fa-search
                | &nbsp; ค้นหารายงาน
        .panel-body
            div.form-inline
                .row
                    .col-md-12
                        button.close(type='button', aria-label='Close')#close_Search
                            span(aria-hidden='true') &times;
                .row
                    .col-md-12
                        .form-group
                            label วันที่
                            | &nbsp;&nbsp;&nbsp;&nbsp;
                            #datetimepicker2.input-group(data-datepicker)
                                input#Date_Search1.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            label ถึง
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            #datetimepicker3.input-group(data-datepicker)
                                input#Date_Search2.form-control(type='text')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            label(for="slPersonx") ชื่อผู้เช่ารถ:
                            | &nbsp;
                            select#slPersonx.form-control.css-require
                                option(value="0") เลือกทุกคน
                                for x in data.person_taxis
                                    option(value="#{x.id}") #{x.person}
                            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
                            button#btnSearch(type="button").btn.btn-primary.btn-sm ค้นหา
                            button#btnPrint(type="button").btn.btn-primary.btn-sm ปริ้นรายการ
    .panel
        .panel-heading(style="background-color:#5FE090")
            h3.panel-title
                i.fa.fa-comments-o
                | &nbsp; รายการเช่ารถ Taxi วันนี้
        .panel-body
            table.table.table-hover#tblBill_search
                thead
                    tr
                        td ลำดับ
                        td วันที่
                        td ชื่อผู้เช่ารถ
                        td จ่าย
                        td หมายเหตุ
                        td(style="width : 90px")
                            i.fa.fa-cog.fa-spin.fa-3w.fa-fw
                    tbody
    .modal.fade#mdlNew(tabindex="-1",role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title
                        i.fa.fa-search.fa-lg
                        | &nbsp;เพิ่มข้อมูลการจ่ายค่าเช่า
                .modal-body(style="padding-top: 20px;")
                    input(type="hidden")#txtId
                    .row
                        .col-md-6
                            .form-group.has-feedback
                                label(for="txtDate_bill") วันที่ออกใบเสร็จ:
                                | &nbsp;&nbsp;
                                #datetimepicker.input-group(data-datepicker)
                                    input#txtDate_bill.form-control(type='text')
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-calendar       
                    | &nbsp;
                    | &nbsp;
                    .row
                        .col-md-6
                            .form-group
                                label(for="slPerson") ชื่อผู้เช่ารถ:
                                | &nbsp;
                                select#slPerson.form-control.css-require
                                    option(value="") กรุณาเลือกรายการ....
                                    for a in data.person_taxis
                                        option(value="#{a.id}") #{a.person}        
                    | &nbsp;
                    | &nbsp;                             
                    .row                       
                        .col-md-6
                            .form-group
                                label(for="txtPay") จำนวนเงินที่จ่าย 
                                input(type="number",name="pay",placeholder="ค่าบริการพิเศษ")#txtPay.form-control                                                      
                    | &nbsp;   
                    | &nbsp;
                    .row
                        .col-md-12
                            .form-group
                                label(for="txtNote") หมายเหตุ
                                textarea#txtNote(type="text", rows="3", placeholder="ยังไม่มีรายละเอียด").form-control 
                .modal-footer
                    button.btn.btn-primary#btnSave
                        i.fa.fa-save
                        | &nbsp; ปรับปรุงข้อมูล
                    button.btn.btn-danger(data-dismiss="modal")
                        i.fa.fa-close
                        | &nbsp; ปิดหน้าต่าง
